p.centro {
  text-align: center;
  font-size: 20px;
}

figcaption.centro {
  text-align: center;
}

img.centroround {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
}

h1.centro {
  text-align: center;
}

iframe.centro {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#botao {
  background-color: green;
  color: white;
  padding: 15px 32px;
  text-align: center;
  width: 100%;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
}


#botao:hover {
  background-color: darkgreen;
}

#cem {
  width: 100%;
  height: 50px;
}


.grid {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Colunas de largura flexível */
  gap: 40px; /* Espaçamento entre os itens */
  justify-items: center; /* Centraliza os itens no grid */
  align-items: center; /* Alinha verticalmente os itens */
  padding: 20px;
  margin: 0 auto; /* Centraliza a grid horizontalmente */
  max-width: 1200px; /* Limita a largura total da grid */
}

.item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%; /* Ocupa todo o espaço disponível da coluna */
  max-width: 600px; /* Limita a largura dos itens */
}

.item h3 {
  margin-top: 24px;
}

.item p {
  margin-top: 0;
  text-align: center;
}

.item img {
  width: 400px;
}

h1 {
  margin-bottom: 16px;
  text-align: center; /* Centraliza o título */
}
